<%- include("header") -%>
<div>
<form action="/reset-password/<%= userid %>/<%= token %>" method="post">
    <p><%= msg %></p>
    <label for="new">New Password</label>
    <input id="new" type="password" name="new">
    <span id="new"><%= error1 %></span>
    <label for="confirm">confirm Password</label>
    <input id="confirm" type="password" name="confirm">
    <span id="confirm"><%= error2 %></span>
    <button type="submit">Reset Password</button>
</form>
</div>
<%- include("footer") -%>